/*
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --color_primario: #544179;
    --color_secundario: #A4CC79;
    --color_neutro: #AAAAAA;
    --color_claro: #F1F1F1;
    --color_oscuro: #414759;
    --nunito_regular: 400;
    --nunito_semi_bold: 600;
    --nunito_bold: 600;
    --sombra_tarjeta: 5px 5px 16px -1px rgba(0,0,0,0.2);
    --titulo: 16px;
    --subtitulo: 14px;
    --texto_regular: 12px;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: #F1F1F1;
    font-family: 'Nunito' !important;
}
h1 {
  font-weight: var(--nunito_regular);
}

.contenedor {
  padding: 0 !important;
}

header {
  padding: 0;
  background-color: var(--color_primario);
  height: 60px;
  width: 100%;
	left: 0;
	top: 0;
  position: fixed;
}

.cabecera {
  max-width: 1200px;
  width: 100%;
  height: 30px;
}

.input-busqueda {
  background-color: var(--color_claro);
  width: 500px;
}

.input-busqueda i{
  color: var(--color_oscuro);
}

.input-busqueda input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.cont-iconos-nav {
  width: 120px; 
}

.cont-iconos-nav i {
  color: var(--color_claro);
}

.borde-icono {
  border-bottom: 2px solid;
  border-color: var(--color_claro);
}

.contenedor-cuerpo {
  width: 100%;

}

.cuerpo {
  max-width: 1200px;
  width: 100%;
  margin-top: 80px;
}

.tarjeta_perfil , .tarjeta_publi {
  width: 100%;
  height: 150px;
  margin: 0 !important;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--sombra_tarjeta);
  display: flex;
  align-items: center;
}

.tajeta-sugerencias {
  width: 100%;
  height: auto;
  margin: 0 !important;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--sombra_tarjeta);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta-post {
  width: 100%;
  height: auto;
  margin: 0 !important;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--sombra_tarjeta);
  display: flex;
  flex-direction: column;
}

.tarjeta-post .nombre-perfil {
  font-size: var(--titulo);
  font-weight: var(--nunito_bold);
  color: var(--color_oscuro);
}

.cant-reacciones {
  font-weight: var(--nunito_bold);
  font-size: var(--texto_regular);
  color: var(--color_oscuro);
}

.parrafo p {
  font-size: var(--texto_regular);
  font-weight: var(--nunito_semi_bold);
  margin-bottom: 10px;
}

.bi-heart-fill {
  color: rgb(218, 72, 72);
}

.tiempo-publi {
  margin-top: 2px;
  color: var(--color_neutro);
  font-size: var(--texto_regular);
}

.division-sug {
  height: 1px;
  width: 90%;
  background-color: var(--color_claro);
}

.tajeta-seguir {
  height: 60px;
  width: 100%;
}

.tajeta-seguir p{
  margin: 0;
}

.tajeta-seguir .nombre{
  font-size: var(--subtitulo);
  font-weight: var(--nunito_bold);
}

.tajeta-seguir .ocupacion, .tajeta-seguir .seguidores {
  font-size: var(--texto_regular);
}


.tajeta-seguir .image {
  background-image: url(../assets/images/sugerencia1.jpg);
  border: 1px solid;
  border-color: var(--color_oscuro);
  background-size: 100%;
  width: 50px;
  height: 50px;
}

.image-perfil-post {
  width: 35px;
  height: 35px;
  background-image: url(../assets/images/sugerencia1.jpg);
  border: 1px solid;
  border-color: var(--color_oscuro);
  background-size: 100%;
}

.icono_ocultar {
  display: none;
}

.boton-seguir {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  font-size: 11px;
  padding-top: 2px;
  font-weight: var(--nunito_regular);
  color: var(--color_oscuro);
  background-color: var(--color_secundario);
  margin: 5px;
  border: #414759;
}

.cont-img-perfil {
  width: 128px;
  height: 128px;
  background-image: url(../assets/images/img_profile.jpeg);
  background-size: 100%;
  border: 1px solid;
  border-color: var(--color_oscuro);
}

.nombre-perfil {
  font-size: 20px;
  font-weight: var(--nunito_bold);
}
.tarjeta-post i {
  cursor: pointer;
}

.cont-nombre-btn .boton {
  width: 80px;
  height: 25px;
  background-color: var(--color_secundario);
  border-radius: 5px;
}

.cont-nombre-btn .boton p {
  margin: 0;
  font-size: var(--titulo);
}

.btn-crear-post {
  cursor: pointer;
  margin-top: 40px;
  height: 35px;
  width: 60%;
  background-color: var(--color_secundario);
  border-radius: 5px;
  box-shadow: var(--sombra_tarjeta);
}

.btn-crear-post:hover {
  background-color: #83b34f;
}

.btn-crear-post p {
  font-size: var(--titulo);
  font-weight: var(--nunito_bold);
  margin: 0;
}

.division {
  width: 100%;
  margin-top: 40px;
  border-bottom: 2px solid;
  border-color: var(--color_oscuro);
}

.titulo-publi {
  margin-top: 16px;
  font-size: var(--titulo);
  font-weight: var(--nunito_bold);
  color: var(--color_oscuro);
}

.tarjeta_publi .titulo {
  font-size: var(--titulo);
  font-weight: var(--nunito_bold);
}

.tarjeta_publi .web {
  font-size: var(--texto_regular);
  font-weight: var(--nunito_bold);
}

.body {
  background-color: var(--color_primario);
  padding: 0;
  margin: 0;
  height: 100%;
}
.registro {
  color: var(--color_claro);
  width: 100%;
}
.logo {
  height: 218px;
  width: 218px;
  margin: 10px;
}
.registro img{
  height: 218px;
  width: 218px;
  margin: 10px;
}

.login img{
  animation: huella 1s infinite;
}

@keyframes huella {
  0% {
    height: 215px;
    width: 215px;
  }
  50% {
    height: 218px;
    width: 218px;
  }
  100% {
    height: 215px;
    width: 215px;
  }
}

.registro .input-registro{
  width: 100%;
  height: 22px;
  border-radius: 10px;
  border: #414759;
}

.registro label {
  margin-top: 10px;
}

.boton-registro, .boton-registro-cancelar {
  width: 103px;
  height: 25px;
  border-radius: 5px;
  font-size: var(--subtitulo);
  font-weight: var(--nunito_regular);
  color: var(--color_oscuro);
  margin: 5px;
  border: #414759;
}

.registro .checks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registro .checks .form-check{
  background-color: var(--color_claro);
  border-radius: 10px;
  color: var(--color_oscuro);
  text-align: start;
  width: 80px;
  font-size: var(--texto_regular);
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check input {
  border-color: var(--color_oscuro);
  text-align: center;
  margin: 3px;
}

.boton-registro {
  margin-top: 20px;
  background-color: var(--color_secundario);
}

.boton-registro-cancelar {
  background-color: var(--color_neutro);
}

.login {
  margin: 10%;
}

button a {
  text-decoration: none;
  list-style-type: none;
  color: var(--color_oscuro);
}

button a:hover {
  color: var(--color_oscuro);
}

.help {
  width: 200px;
  height: 80px;
  padding: 5px;
  visibility: hidden;
  position: absolute;
  top: 540px;
  left: 820px;
  border-radius: 10px;
  background-color: #c4c4c44d;
}

.lista-chats{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #dfdfe0;
  overflow-y: scroll;
  height: 80vh;
}

.lista-chats h2, .lista-chats .bi-search {
  font-size: var(--titulo);
  font-weight: var(--nunito_semi_bold);
  margin: 2px;
}

.lista-chats .chat, .chat1-1{
  position: relative;
  margin-top: 10px;
}
.lista-chats .chat .conectado, .chat1-1 .conectado{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color:#74DE02;
  border: 1px solid;
  border-color: var(--color_oscuro);
  left: 45px;
  top: 35px;
}
.lista-chats .chat h1{
  font-size: var(--subtitulo);
  margin: 0;
  padding-top: 10px;
}

.lista-chats .chat h2{
  font-size: var(--texto_regular);
  padding-top: 1px;
  margin: 0;
}

.lista-chats img, .chat1-1 img{
  background-color: violet;
  height: 47px;
  width: 47px;
  margin: 4px;
  border: 1px solid;
  border-color: var(--color_oscuro);
}

.chat1-1 {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.chat1-1 h1 {
  font-size: var(--titulo);
  font-weight: var(--nunito_semi_bold);
  color: #AAAAAA;
}

.chat1-1 h2 {
  font-size: var(--subtitulo);
  font-weight: var(--nunito_regular);
  color: #AAAAAA;
}
.msj-recibido, .msj-enviado {
  border-radius: 10px;
  border: 1px solid rgb(228, 228, 228);
  padding: 10px;
  color: black;
  width: auto;
}
.msj-recibido {
  background-color: rgba(219, 216, 216, 0.78)
}

.msj-enviado {
  background-color: #ffffff;
}

.solo-chat {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #dfdfe0;
  height: 71vh;
}

.chat-footer {
  background-color: var(--color_primario);
  height: 50px;
  width: auto;
  border-radius: 10px;
}
.chat-footer input {
  border-radius: 50px;
  height: 30px;
  margin-left: 10px;
  width: 90%;
  border-color: var(--color_oscuro);
  background-color: #e2e2e2;
}

.bi-send {
  font-size: 20px;
  color: var(--color_claro);
}

.bi-camera-video {
  font-size: 20px;
}

.chat-header {
  border-bottom: 1px solid;
  border-color: #dfdfe0;
}

.cuerpo-mensajes {
  position: fixed;
}

.b h1{
  font-size: var(--subtitulo);
  color: var(--color_primario);
}

.b {
  text-align: center;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
  height: 18px;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--color_primario);
}

.cuerpo-busqueda h2 {
  margin-top: 20px;
  font-size: var(--subtitulo);
  color: var(--color_primario);
  font-weight: var(--nunito_semi_bold);
}

.personas img {
  width: 30px;
  height: 30px;
}

.personas h1 {
  margin: 2px;
  padding-left: 5px;
  font-size: var(--subtitulo);
}

.cuerpo-busqueda a {
  text-decoration: none;
  font-size: var(--texto_regular);
}

.p {
  margin-bottom: 10px;
}

.nuevo-post {
  position: absolute;
  border-radius: 10px;
  box-shadow: var(--sombra_tarjeta);
  background-color: rgb(235, 235, 235);
  top: 28%;
  z-index: 2;
}

.fondo-blur{
  position: absolute;
  z-index: 1;
  background-color: rgba(65, 64, 64, 0.342);
  height: 120%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.post-cabecera p {
  color: var(--color_oscuro);
}

.post-pie button {
  background-color: var(--color_secundario);
  font-weight: var(--nunito_bold);
  font-size: var(--titulo);
  border: none;
  outline: none;
  border-radius: 10px;
  color: var(--color_primario);
}

.post-pie i {
  color: var(--color_oscuro);
}

.ocultar {
  display: none;
}

#closePost {
  cursor: pointer;
}

.post-cuerpo textarea {
  resize: none;
  outline: none;
  border: none;
  border-radius: 10px;
}
.icono-buscar {
  visibility: hidden;
}

footer {
  visibility: hidden;
}

@media only screen and (max-width: 370px) {
  header .cabecera {
    margin-left: 10px;
    margin-right: 10px;
  }

  .filtros { 
  padding-top: 15%;
  }

  header .input-busqueda {
    width: 350px;
  }
  .icono-buscar {
    visibility: visible;
  }
  .personas {
    margin-top: 0;
    padding: 10px;
  }
  .contenedor-cuerpo {
    height: 580px;
    overflow-y:scroll;
  }
  .publicaciones {
    padding: 10px;
    padding-top: 0;
  }
  .b {
    margin-top: 0;
  }
  .b h1 {
    font-size: 12px;
  }
  
  footer {
    visibility: visible;
    background-color: var(--color_primario) !important;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
  }

  footer i {
    color: var(--color_claro);
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }

  footer img {
    width: 20px;
    height: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

#loader {
  background-color: var(--color_primario);
  padding-top: 100px;
  width: 100vw;
  height: 100vh;
}

#loader #loading{
  font-size: 20px;
  font-weight: var(--nunito_semi_bold);
  color: var(--color_claro);
  animation: text 1s infinite;
  
}
#inicio #huella {
  height: 50px;
  width: 50px;
  position: relative;
}


@keyframes text {
  0%{
  font-size: 20px;
  }
  50%{
    font-size: 22px;
  }
}
