/*
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --color_primario: #544179;
    --color_secundario: #A4CC79;
    --color_neutro: #AAAAAA;
    --color_claro: #F1F1F1;
    --color_oscuro: #414759;
    --nunito_regular: 400;
    --nunito_semi_bold: 600;
    --nunito_bold: 600;
    --sombra_tarjeta: 5px 5px 16px -1px rgba(0,0,0,0.4);
    --titulo: 16px;
    --subtitulo: 14px;
    --texto_regular: 12px;
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
}

body {
  background-color: #F1F1F1;
}

h1 {
  font-weight: var(--nunito_regular);
}

.contenedor {
  padding: 0 !important;
}

header {
  padding: 0;
  background-color: var(--color_primario);
  height: 60px;
  width: 100%;
	left: 0;
	top: 0;
  position: fixed;
}

.cabecera {
  max-width: 1200px;
  width: 100%;
  height: 30px;
}

.input-busqueda {
  background-color: var(--color_claro);
  width: 500px;
}

.input-busqueda i{
  color: var(--color_oscuro);
}

.input-busqueda input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.cont-iconos-nav {
  width: 120px; 
}

.cont-iconos-nav i {
  color: var(--color_claro);
}

.bi-house-door {
  border-bottom: 2px solid;
  border-color: var(--color_claro);
}

.contenedor-cuerpo {
  width: 100%;
}

.cuerpo {
  max-width: 1200px;
  width: 100%;
}

.contenedor-cuerpo div{
  height: 100vh;
}