body {
    margin: 1;
    display: flex;
    justify-content: center;
}

.container {
    position: absolute;
    width: 878px;
    height: 663px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: contain;
}

/*------- layers del background ------*/
.layer11 {
    background-image: url(images/background/11_background.png);
}

.layer10 {
    background-image: url(images/background/10_distant_clouds.png);
}

.layer9 {
    background-image: url(images/background/09_distant_clouds1.png);
}

.layer8 {
    background-image: url(images/background/08_clouds.png);
}

.layer7 {
    background-image: url(images/background/07_huge_clouds.png);
}

.layer6 {
    background-image: url(images/background/06_hill2.png);
}

.layer5 {
    background-image: url(images/background/05_hill1.png);
}

.layer4 {
    background-image: url(images/background/04_bushes.png);
}

.layer3 {
    background-image: url(images/background/03_distant_trees.png);
}

.layer2 {
    background-image: url(images/background/02_trees\ and\ bushes.png);
}

.layer1 {
    background-image: url(images/background/01_ground.png);
}

.avatar {
    background: url(images/Jimena.png) no-repeat;
    position: absolute;
    top: 65%;
    left: 10%;
    height: 108px;
    width: 80px;
}

.bugClasic {
    background: url(images/bugClasic.png) no-repeat;
    position: absolute;
    width: 55px;
    height: 55px;
    opacity: 0;
    background-size: contain;
}

.bugStrong {
    background: url(images/bugStrong.png) no-repeat;
    position: absolute;
    width: 80px;
    height: 60px;
    opacity: 0;
    background-size: contain;
}

.msj {
    visibility: hidden;
    background-color: rgba(126, 203, 223, 0.781);
    position: absolute;
    width: 500px;
    height: 300px;
}

.msj h1 {
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    margin-top: 100px;
}

.msj .button {
    cursor: pointer;
    background-color:rgba(192, 240, 102, 0.863);
    font-family: monospace;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
}

.container-lives {
    font-family: monospace;
    font-size: 1rem;
    position: absolute;
    top: 10px;
    left: 40px;
    width: auto;
    height: 100px;
}

.bonusJs{
    background: url(images/js.png) no-repeat;
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0;
    background-size: contain;
}

#timmer {
    font-family: monospace;
    font-size: 2.2rem;
    height: 100px;
    width: 130px;
    position: absolute;
    top: 10px;
    right: 70px;
}

.welcome {
    background-color: rgba(126, 203, 223, 0.781);
    position: absolute;
    font-family: monospace;
    font-size: 1.3rem;
    width: 500px;
    height: 650px;
    text-align: center;
}

#avatar {
    height: 30px;
    width: 70px;
}


/*------ Bonus -------*/
@keyframes bonus {
    0% {
        opacity: 1;
        top: 45%;
        left: 90%;
    }
    100% {
        top: 45%;
        left: 0;
        opacity: 1;
    }
}

@keyframes getBonus {
    0% {
        opacity: 1;
        top: 45%;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 10%;
        opacity: 0;
    }
}


/*------ Enemy -------*/
@keyframes enemy {
    0% {
        opacity: 1;
        top: 75%;
        left: 90%;
    }
    100% {
        top: 75%;
        left: 0;
        opacity: 1;
    }
}

@keyframes enemyStrong {
    0% {
        opacity: 1;
        top: 55%;
        left: 90%;
    }
    25% {
        opacity: 1;
        top: 50%;
        left: 90%;
    }
    50% {
        opacity: 1;
        top: 55%;
        left: 90%;
    }
    100% {
        top: 50%;
        left: 0;
        opacity: 1;
    }
}

@keyframes animationBug {
    0% {
        opacity: 1;
        transform: scaleX(300px);
    }
    50% {
        opacity: 1;
        transform: scaleX(150px);
    }
    100% {
        opacity: 1;
        transform: scaleX(0px);
    }
}
/*------ avatar -------*/

@keyframes still {
    0% {background-position: 0px 0px;}
    100% {background-position: -320px 0px;}
}

@keyframes run{
    0% {background-position: 0px -108px;}
    100% {background-position: -480px -108px;}
}

@keyframes jump{
    0% {
        height: 110px;
        background-position: 0px -216px;
    }
    50% {
        top: 30%;
    }
    100% {
        height: 110px;
        background-position: -240px -216px;
        top: 65%;
    }
}

@keyframes die {
    0% {
        width: 102px;
        background-position: 0px -330px;
    }
    100% {
        width: 102px;
        background-position: -204px -330px;
    }
}

/*------ Background -------*/
@keyframes moveBackground {
    0% {
        background-position: 0px;
    }
    100% {
        background-position: -878px;
    }
}